<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}


{% load censor %}
<!-- Название у нас будет Новые публикации -->
{% block title %}
Новые публикации
{% endblock title %}

<!-- Выводите новости в следующем виде — заголовок, дата публикации в формате день.месяц.год, затем первые 20 слов текста статьи.
Можно вывести как списком, так и таблицей. Новости должны выводиться в порядке от более свежей к старой.
Сверху страницы должно быть выведено количество всех новостей (используется фильтр news|length).
По ссылке /news/<id новости> должна выводиться детальная информация о новости.
Заголовок, дата публикации в формате день.месяц.год и полный текст статьи.
-->
{% block content %}
<h1>Всего публикаций: {{news|length}}</h1>
    {% if news %}
        {% for post in news %}
            <hr>
            <hr>
            <h2>{{ post.post_header|censor }}</h2>
            <h3>{{ post.data_create|date:'d M Y' }}</h3>
            <br>
            <p class="lead">{{ post.post_text|truncatewords:20|censor }}</p>
            <br>
        {% endfor %}
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
{% endblock content %}

